*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    background-color: white;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
a{
    margin: 1rem;
    color: black;
}
ul{
    display: flex;
    padding: 20px;
}
.banner{
    height: 300px;
    width: 100%;
}
.logo{
    height: 120px;
    width: 600px;
    margin-left: 35%;
}
h1{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
p{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
xd{
    line-height: 5rem;
}
.but{
    width: 100px;
    height: 40px;
    background-color: red;
    color: white;
    padding: 10px 35px ;
    border-radius: 10px;
    margin-left: 890px;
    line-height: 5rem;
}
deb{
    margin-top: 2 rem;
    text-align: center;
    line-height: 8rem;
}
.but:hover{
    background-color: white;
    color: orangered;

}
h3{
    margin-left: 50%;
    line-height: 40px;
}
main{
    width: 100%;
    height: 500px;
}
h4{
    display: flex;
    margin-top: 25px;
    font-size: 2rem;
    color: white;
    margin-bottom: 150px;
    justify-content: center;
}
article{
    display: flex;
    justify-content:center;
    margin: 20px;
}
section{
    height: 600px;
    width: 400px;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
}
.img1{
    height: 40%;
    width: 100%;
}
.img1:hover{
    transition: 1s ease-in-out;
    box-shadow: 5px 5px 5px 5px black;
}
.img2{
    height: 40%;
    width: 100%;
}
.img2:hover{
    transition: 1s ease-in-out;
    box-shadow: 5px 5px 5px 5px black;
}
.img3:hover{
    transition: 1s ease-in-out;
    box-shadow: 5px 5px 5px 5px black;
}
.img3{
    height: 40%;
    width: 100%;
}
.text1{
    background-color:black;
    color: white;

}
#prem{
    margin: 20px;
}
#deux{
    margin: 20px;
}
#trois{
    margin: 20px;
}
#space{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background-color: black;
}
.but2{
    background-color: white;
    padding: 10px 35px;
}
.but2:hover{
    background-color: white;
    color: orangered;
}
h3{
    color: white;
    margin: 20px;
}
#foot{
    display: flex;
    justify-content: flex-end;
    background-color: grey;
}
.last{
    height: 70px;
    width: 150px;
    margin-right: 1030px;
}
article:hover{
    transition: 1s ease-in-out;
    box-shadow: 10px 10px 10px 10px black;
}
.submit{
    background-color:red;
    color: black;
    padding: 10px 35px;
    margin-bottom: 2rem;
}
#h9{
    text-align: center;
    font-size: 3rem;
margin-top: 100px;
}
.submit:hover{
transition: 1s ease-in-out;
box-shadow: 5px 5px 5px 5px yellow;
}
@media only screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin: 10px 0;
    }
    .deb h1 {
        font-size: 24px;
    }
    #h9 {
        font-size: 18px;
    }
    article {
        flex-direction: column;
    }
    section {
        margin: 10px 0;
    }
    input[type="email"] {
        width: 100%;
    }
    input.submit {
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    nav ul {
        font-size: 14px;
    }
    .deb h1 {
        font-size: 20px;
    }
    #h9 {
        font-size: 16px;
    }
}
